.cl-internal-b3fm6y,
.cl-internal-uyu30o,
.cl-internal-b3fm6y {
    display: none;
}

.cl-card {
    background-color: hsl(var(--card));
    color: hsl(var(--card-foreground));
    row-gap: 1.5rem;
    border-radius: calc(var(--radius) + 4px);
    border-width: 1px;
    border-color: hsl(var(--border));
    box-shadow: var(--tw-ring-offset-shadow, 0 0 #0000), var(--tw-ring-shadow, 0 0 #0000), var(--tw-shadow);
    --tw-shadow: 0 1px 2px 0 rgba(0, 0, 0, .05);
    --tw-shadow-colored: 0 1px 2px 0 var(--tw-shadow-color);
    transition-property: color, background-color, border-color, text-decoration-color, fill, stroke;
    transition-timing-function: cubic-bezier(.4, 0, .2, 1);
    transition-duration: .15s;
}

.cl-alertText__danger {
    color: hsl(var(--text-foreground));
    font-size: .875rem;
    line-height: 1.25rem;
}

.cl-headerTitle {
    color: hsl(var(--card-foreground));
    font-weight: 600;
    font-size: 1.5rem;
    line-height: 2rem;
    letter-spacing: -.025em;
}

.cl-headerSubtitle {
    color: hsl(var(--muted-foreground));
    font-size: .875rem;
    line-height: 1.25rem;
}

.cl-main {
    row-gap: 1rem;
}

.cl-socialButtons {
    gap: initial;
    grid-template-columns: initial;
    grid-auto-rows: initial;
}

.cl-socialButtonsIconButton {
    height: 2.25rem;
    background-color: hsl(var(--accent));
    color: hsl(var(--accent-foreground));
    font-weight: 500;
    font-size: .875rem;
    line-height: 1.25rem;
    padding: 0.5rem 1rem;
    border-radius: calc(var(--radius) - 2px);
    border-width: 1px;
    border-color: hsl(var(--input));
    box-shadow: var(--tw-ring-offset-shadow, 0 0 #0000), var(--tw-ring-shadow, 0 0 #0000), var(--tw-shadow);
    --tw-shadow: 0 1px 2px 0 rgba(0, 0, 0, .05);
    --tw-shadow-colored: 0 1px 2px 0 var(--tw-shadow-color);
    transition-property: color, background-color, border-color, text-decoration-color, fill, stroke;
    transition-timing-function: cubic-bezier(.4, 0, .2, 1);
    transition-duration: .15s;
}

.cl-socialButtonsIconButton:active {
    background-color: hsl(var(--accent));
}

.cl-socialButtonsIconButton:focus {
    box-shadow: inherit;
}

.cl-socialButtonsIconButton:hover {
    background-color: hsl(var(--accent));
    color: hsl(var(--accent-foreground));
}

.cl-socialButtonsIconButton:focus-visible {
    box-shadow: var(--tw-ring-offset-shadow), var(--tw-ring-shadow), var(--tw-shadow, 0 0 #0000);
    --tw-ring-color: hsl(var(--ring));
    --tw-ring-offset-shadow: var(--tw-ring-inset) 0 0 0 var(--tw-ring-offset-width) var(--tw-ring-offset-color);
    --tw-ring-shadow: var(--tw-ring-inset) 0 0 0 calc(1px + var(--tw-ring-offset-width)) var(--tw-ring-color);
    outline: 2px solid transparent;
    outline-offset: 2px;
}

.cl-dividerLine {
    background-color: hsl(var(--border));
}

.cl-dividerText {
    color: hsl(var(--muted-foreground));
    text-transform: uppercase;
}

.cl-form {
    row-gap: 1.5rem;
}

.cl-formField {
    row-gap: 0.5rem
}

.cl-formFieldLabel {
    color: hsl(var(--card-foreground));
    font-weight: 500;
    font-size: .875rem;
    line-height: 1;
}

.cl-formFieldInput {
    height: 2.25rem;
    background-color: transparent;
    color: hsl(var(--card-foreground));
    font-size: .875rem;
    line-height: 1.25rem;
    padding: 0.25rem 0.75rem;
    border-radius: calc(var(--radius) - 2px);
    border-width: 1px;
    border-color: hsl(var(--input));
}

.cl-formFieldInput:focus {
    box-shadow: inherit;
}

.cl-formFieldInput:focus-visible {
    box-shadow: var(--tw-ring-offset-shadow), var(--tw-ring-shadow), var(--tw-shadow, 0 0 #0000);
    --tw-ring-color: hsl(var(--ring));
    --tw-ring-offset-shadow: var(--tw-ring-inset) 0 0 0 var(--tw-ring-offset-width) var(--tw-ring-offset-color);
    --tw-ring-shadow: var(--tw-ring-inset) 0 0 0 calc(1px + var(--tw-ring-offset-width)) var(--tw-ring-color);
    outline: 2px solid transparent;
    outline-offset: 2px;
}

.cl-formFieldInputShowPasswordButton {
    color: hsl(var(--muted-foreground));
    font-size: 0.75rem;
    line-height: 1rem;
}

.cl-formFieldInputShowPasswordButton:focus {
    box-shadow: inherit;
}

.cl-formFieldInputShowPasswordButton:active,
.cl-formFieldInputShowPasswordButton:hover {
    color: hsl(var(--accent))
}

.cl-formFieldWarningText,
.cl-formFieldSuccessText {
    color: hsl(var(--muted-foreground));
    font-size: 0.75rem;
    line-height: 1rem;
}

.cl-formFieldInfoText {
    color: hsl(var(--muted-foreground));
    font-size: 0.75rem;
    line-height: 1rem;
}

.cl-formButtonPrimary {
    background-color: hsl(var(--primary));
    color: hsl(var(--primary-foreground));
    font-weight: 500;
    font-size: .875rem;
    line-height: 1.25rem;
    padding: 0.5rem 1rem;
    border-radius: calc(var(--radius) - 2px);
    text-transform: capitalize;
    box-shadow: var(--tw-ring-offset-shadow, 0 0 #0000), var(--tw-ring-shadow, 0 0 #0000), var(--tw-shadow);
    --tw-shadow: 0 1px 2px 0 rgba(0, 0, 0, .05);
    --tw-shadow-colored: 0 1px 2px 0 var(--tw-shadow-color);
    transition-property: color, background-color, border-color, text-decoration-color, fill, stroke;
    transition-timing-function: cubic-bezier(.4, 0, .2, 1);
    transition-duration: .15s;
}

.cl-formButtonPrimary:focus-visible {
    box-shadow: var(--tw-ring-offset-shadow), var(--tw-ring-shadow), var(--tw-shadow, 0 0 #0000);
    --tw-ring-color: hsl(var(--ring));
    --tw-ring-offset-shadow: var(--tw-ring-inset) 0 0 0 var(--tw-ring-offset-width) var(--tw-ring-offset-color);
    --tw-ring-shadow: var(--tw-ring-inset) 0 0 0 calc(1px + var(--tw-ring-offset-width)) var(--tw-ring-color);
    outline: 2px solid transparent;
    outline-offset: 2px;
}

.cl-formButtonPrimary:hover {
    background-color: hsl(var(--primary)/.9);
}

.cl-footerActionText {
    color: hsl(var(--muted-foreground));
    font-size: 0.75rem;
    line-height: 1rem;
}

.cl-footerActionLink {
    color: rgb(29 78 216);
    font-size: 0.75rem;
    line-height: 1rem;
}

.cl-footerActionLink:focus {
    box-shadow: inherit;
}

.cl-footerActionLink:hover {
    color: rgb(29 78 216);
}

.cl-userButtonTrigger {
    transition-property: color, background-color, border-color, text-decoration-color, fill, stroke;
    transition-timing-function: cubic-bezier(.4, 0, .2, 1);
    transition-duration: .15s;
}

.cl-userButtonTrigger:focus {
    box-shadow: inherit;
}

.cl-userPreviewMainIdentifier {
    color: hsl(var(--popover-foreground));
    font-weight: 500;
    line-height: 1;
}

.cl-userPreviewSecondaryIdentifier {
    color: hsl(var(--muted-foreground));
    font-size: 0.75rem;
    line-height: 1rem;
}

.cl-userButtonPopoverCard {
    --radix-popover-content-transform-origin: var(--radix-popper-transform-origin);
    --radix-popover-content-available-width: var(--radix-popper-available-width);
    --radix-popover-content-available-height: var(--radix-popper-available-height);
    --radix-popover-trigger-width: var(--radix-popper-anchor-width);
    --radix-popover-trigger-height: var(--radix-popper-anchor-height);
    width: 20rem;
    background-color: hsl(var(--popover));
    color: hsl(var(--popover-foreground));
    border-radius: calc(var(--radius) - 2px);
    border-width: 1px;
    border-color: hsl(var(--border));
    outline: 2px solid transparent;
    outline-offset: 2px;
    box-shadow: var(--tw-ring-offset-shadow, 0 0 #0000), var(--tw-ring-shadow, 0 0 #0000), var(--tw-shadow);
    --tw-shadow: 0 4px 6px -1px rgba(0, 0, 0, .1), 0 2px 4px -2px rgba(0, 0, 0, .1);
    --tw-shadow-colored: 0 4px 6px -1px var(--tw-shadow-color), 0 2px 4px -2px var(--tw-shadow-color);
}

.cl-userButtonPopoverActionButton {
    background-color: hsl(var(--background));
    color: hsl(var(--popover-foreground));
    font-size: 0.75rem;
    line-height: 1rem;
    transition-property: color, background-color, border-color, text-decoration-color, fill, stroke;
    transition-timing-function: cubic-bezier(.4, 0, .2, 1);
    transition-duration: .15s;
}

.cl-userButtonPopoverActionButton:active,
.cl-userButtonPopoverActionButton:focus,
.cl-userButtonPopoverActionButton:hover {
    background-color: hsl(var(--background)/.9);
}

.cl-userButtonPopoverActionButtonText {
    color: hsl(var(--muted-foreground));
    font-size: 0.75rem;
    line-height: 1rem;
}

.cl-userButtonPopoverActionButtonIcon {
    color: hsl(var(--muted-foreground));
}

.cl-navbar {
    background-color: hsl(var(--card));
    color: hsl(var(--card-foreground));
    border-top-right-radius: calc(var(--radius) + 4px);
    border-bottom-right-radius: calc(var(--radius) + 4px);
    border-width: 1px;
    border-right-color: hsl(var(--border));
}

.cl-navbarButton {
    color: hsl(var(--card-foreground));
    font-size: 0.875rem;
    line-height: 1.25rem;
    transition-property: color, background-color, border-color, text-decoration-color, fill, stroke;
    transition-timing-function: cubic-bezier(.4, 0, .2, 1);
    transition-duration: .15s;
}

.cl-navbarButton:focus {
    box-shadow: inherit;
}

.cl-navbarButton:active,
.cl-navbarButton:hover {
    background-color: hsl(var(--accent));
}

.cl-navbarMobileMenuButton {
    color: hsl(var(--card-foreground));
    font-size: 0.875rem;
    line-height: 1.25rem;
    transition-property: color, background-color, border-color, text-decoration-color, fill, stroke;
    transition-timing-function: cubic-bezier(.4, 0, .2, 1);
    transition-duration: .15s;
}

.cl-navbarMobileMenuButton:focus {
    box-shadow: inherit;
}

.cl-navbarMobileMenuButton:active,
.cl-navbarMobileMenuButton:hover {
    background-color: hsl(var(--accent));
}

.cl-internal-899f82:focus-visible {
    box-shadow: var(--tw-ring-offset-shadow), var(--tw-ring-shadow), var(--tw-shadow, 0 0 #0000);
    --tw-ring-color: hsl(var(--ring));
    --tw-ring-offset-shadow: var(--tw-ring-inset) 0 0 0 var(--tw-ring-offset-width) var(--tw-ring-offset-color);
    --tw-ring-shadow: var(--tw-ring-inset) 0 0 0 calc(1px + var(--tw-ring-offset-width)) var(--tw-ring-color);
    outline: 2px solid transparent;
    outline-offset: 2px;
}

.cl-modalCloseButton {
    color: hsl(var(--card-foreground));
    transition-property: color, background-color, border-color, text-decoration-color, fill, stroke;
    transition-timing-function: cubic-bezier(.4, 0, .2, 1);
    transition-duration: .15s;
}

.cl-modalCloseButton:focus {
    box-shadow: inherit;
}

.cl-modalCloseButton:active,
.cl-modalCloseButton:hover {
    background-color: hsl(var(--accent));
}

.cl-profileSectionTitleText {
    color: hsl(var(--card-foreground));
    font-size: 1rem;
    line-height: 1.5rem;
    padding-bottom: 0.5rem;
}

.cl-profileSectionPrimaryButton {
    color: rgb(29 78 216);
    font-size: 0.875rem;
    line-height: 1.25rem;
    border-radius: calc(var(--radius) - 2px);
    transition-property: color, background-color, border-color, text-decoration-color, fill, stroke;
    transition-timing-function: cubic-bezier(.4, 0, .2, 1);
    transition-duration: .15s;
}

.cl-profileSectionPrimaryButton:focus {
    box-shadow: inherit;
}

.cl-profileSectionPrimaryButton:active,
.cl-profileSectionPrimaryButton:hover {
    background-color: hsl(var(--accent));
}

.cl-internal-of57g,
.cl-internal-xkj3jj {
    color: hsl(var(--card-foreground))
}

.cl-accordionTriggerButton {
    color: hsl(var(--card-foreground));
    font-size: 0.75rem;
    line-height: 1rem;
    transition-property: color, background-color, border-color, text-decoration-color, fill, stroke;
    transition-timing-function: cubic-bezier(.4, 0, .2, 1);
    transition-duration: .15s;
}

.cl-accordionTriggerButton:focus {
    box-shadow: inherit;
}

.cl-accordionTriggerButton:active,
.cl-accordionTriggerButton:hover {
    background-color: hsl(var(--accent));
}

.cl-badge {
    background-color: hsl(var(--primary));
    color: hsl(var(--primary-foreground));
    font-weight: 600;
    font-size: .75rem;
    line-height: 1rem;
    border-radius: calc(var(--radius) - 2px);
    border-width: 1px;
    border-color: transparent;
    padding: 0.125rem 0.625rem;
    transition-property: color, background-color, border-color, text-decoration-color, fill, stroke;
    transition-timing-function: cubic-bezier(.4, 0, .2, 1);
    transition-duration: .15s;
    box-shadow: var(--tw-ring-offset-shadow, 0 0 #0000), var(--tw-ring-shadow, 0 0 #0000), var(--tw-shadow);
    --tw-shadow: 0 4px 6px -1px rgba(0, 0, 0, .1), 0 2px 4px -2px rgba(0, 0, 0, .1);
    --tw-shadow-colored: 0 4px 6px -1px var(--tw-shadow-color), 0 2px 4px -2px var(--tw-shadow-color);
}

.cl-badge:hover {
    background-color: hsl(var(--primary)/.9);
}

.cl-internal-3vf5mz,
.cl-internal-1b63r8w {
    color: hsl(var(--card-foreground));
    font-size: 0.875rem;
    line-height: 1.25rem;
}

.cl-internal-fqx4fd {
    color: hsl(var(--muted-foreground));
    font-size: 0.75rem;
    line-height: 1rem;
}

.cl-internal-1trxv31 {
    color: hsl(var(--destructive));
    font-size: 0.875rem;
    line-height: 1.25rem;
    transition-property: color, background-color, border-color, text-decoration-color, fill, stroke;
    transition-timing-function: cubic-bezier(.4, 0, .2, 1);
    transition-duration: .15s;
}

.cl-internal-1trxv31:focus {
    box-shadow: inherit;
}

.cl-internal-1qc4dsk {
    flex-wrap: wrap;
    row-gap: 0.5rem
}

.cl-internal-jqrj10 {
    width: fit-content;
    background-color: hsl(var(--destructive));
    color: hsl(var(--destructive-foreground));
    font-size: .875rem;
    line-height: 1.25rem;
    border-radius: calc(var(--radius) - 2px);
    padding-top: 0.5rem;
    padding-bottom: 0.5rem;
    text-transform: capitalize;
    transition-property: color, background-color, border-color, text-decoration-color, fill, stroke;
    transition-timing-function: cubic-bezier(.4, 0, .2, 1);
    transition-duration: .15s;
    box-shadow: var(--tw-ring-offset-shadow, 0 0 #0000), var(--tw-ring-shadow, 0 0 #0000), var(--tw-shadow);
    --tw-shadow: 0 4px 6px -1px rgba(0, 0, 0, .1), 0 2px 4px -2px rgba(0, 0, 0, .1);
    --tw-shadow-colored: 0 4px 6px -1px var(--tw-shadow-color), 0 2px 4px -2px var(--tw-shadow-color);
}

.cl-internal-jqrj10:focus {
    box-shadow: inherit;
}

.cl-internal-jqrj10:active,
.cl-internal-jqrj10:hover {
    background-color: hsl(var(--destructive)/.9);
}

.cl-avatarImageActionsUpload {
    color: rgb(29 78 216);
    border-radius: calc(var(--radius) - 2px);
    transition-property: color, background-color, border-color, text-decoration-color, fill, stroke;
    transition-timing-function: cubic-bezier(.4, 0, .2, 1);
    transition-duration: .15s;
}

.cl-avatarImageActionsRemove {
    color: hsl(var(--destructive));
    transition-property: color, background-color, border-color, text-decoration-color, fill, stroke;
    transition-timing-function: cubic-bezier(.4, 0, .2, 1);
    transition-duration: .15s;
}

.cl-avatarImageActionsUpload:focus,
.cl-avatarImageActionsRemove:focus {
    box-shadow: inherit;
}

.cl-avatarImageActionsRemove:active,
.cl-avatarImageActionsRemove:hover {
    background-color: hsl(var(--accent));
}

.cl-breadcrumbsItem {
    color: hsl(var(--muted-foreground));
    font-size: 0.75rem;
    line-height: 1rem;
}

.cl-breadcrumbsItemDivider {
    color: hsl(var(--muted-foreground));
    font-size: 0.75rem;
    line-height: 1rem;
}

.cl-formButtonReset {
    background-color: transparent;
    color: hsl(var(--card-foreground));
    font-weight: 500;
    font-size: .875rem;
    line-height: 1.25rem;
    padding: 0.5rem 1rem;
    border-radius: calc(var(--radius) - 2px);
    border-width: 1px;
    border-color: hsl(var(--border));
    text-transform: capitalize;
    transition-property: color, background-color, border-color, text-decoration-color, fill, stroke;
    transition-timing-function: cubic-bezier(.4, 0, .2, 1);
    transition-duration: .15s;
}

.cl-formButtonReset:focus {
    box-shadow: inherit;
}

.cl-formButtonReset:active,
.cl-formButtonReset:hover {
    background-color: hsl(var(--accent));
}

.cl-formButtonReset:focus-visible {
    box-shadow: var(--tw-ring-offset-shadow), var(--tw-ring-shadow), var(--tw-shadow, 0 0 #0000);
    --tw-ring-color: hsl(var(--ring));
    --tw-ring-offset-shadow: var(--tw-ring-inset) 0 0 0 var(--tw-ring-offset-width) var(--tw-ring-offset-color);
    --tw-ring-shadow: var(--tw-ring-inset) 0 0 0 calc(1px + var(--tw-ring-offset-width)) var(--tw-ring-color);
    outline: 2px solid transparent;
    outline-offset: 2px;
}

.cl-formButtonReset:hover {
    background-color: hsl(var(--accent));
    color: hsl(var(--accent-foreground));
}

.cl-internal-1sf6rji {
    background-color: transparent;
    color: hsl(var(--card-foreground));
    font-weight: 500;
    font-size: .875rem;
    line-height: 1.25rem;
    padding: 0.5rem 1rem;
    border-radius: calc(var(--radius) - 2px);
    border-width: 1px;
    border-color: hsl(var(--border));
    text-transform: capitalize;
    transition-property: color, background-color, border-color, text-decoration-color, fill, stroke;
    transition-timing-function: cubic-bezier(.4, 0, .2, 1);
    transition-duration: .15s;
}

.cl-internal-1sf6rji:focus {
    box-shadow: inherit;
}

.cl-internal-1sf6rji:active,
.cl-internal-1sf6rji:hover {
    background-color: hsl(var(--accent));
}

.cl-internal-1sf6rji:hover {
    background-color: hsl(var(--accent));
    color: hsl(var(--accent-foreground));
}

.cl-formFieldLabel {
    color: hsl(var(--card-foreground));
    font-weight: 500;
    font-size: .875rem;
    line-height: 1;
}